.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
}

Header {
  display: flex;
  flex-direction: column;
  width: 700px;
  line-height: 17px;
}

form {
  display: flex;
  flex-direction: column;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}

.AddWorkout {
  display: flex;
  flex-direction: column;
}

.AddExercise {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

button {
  margin: 25px;
  height: 40px;
  font-size: 15px;
}